*{
    box-sizing: border-box;
}

/* calculator boddy */
#main {

    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 560px;
    background-color: black;
    margin: 20vh auto;
    border-radius: 15px;
    padding: 15px 20PX;
}

/* result screen */
#disp{

    margin: 20px 0px;
    height: 50px;
    border-radius: 10px;
    font-size: 2em;

}

/* buttuns div */
#btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {

    height: 80px;
    width: 80px;
    border-radius: 15px ;
    font-size: 2em;
    color: white;
    background-color: #2A2A2C;
    border: none;

}

.btn:hover {
    background-color: #4a4a4d;
}

.func {

    background-color: #FF9F0A;

}
.func:hover {

    background-color: #ffb341;

}

.clean {
    background-color: red;
}
.clean:hover {
    background-color: rgb(255, 50, 50);
}