@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0F0F0F;
    display: grid;
    grid-template-columns: 74% 26% ;
    grid-template-rows: 56px max-content;
    grid-template-areas: 
        'header header'
        'main section'

    ;
    
}

header{
    background-color: #0F0F0F;
    width: 100%;
    height: 56px;
    max-height: 56px    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    grid-area: header;

}

main{
    background-color: #0F0F0F;
    grid-area: main;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px 85px;
}

section{
    background-color: #0F0F0F;
    grid-area: section;
    border: 1px solid white;
}

.left-container{
    display: flex;
    gap: 20px;

}

.center-container{
    display: flex;
    gap: 15px;
}

.right-container{
    display: flex;        
    height: max-content;
    gap: 20px;
    align-items: center;


}



#noti-btn{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#pesqui{
    width: 533px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    font-size: 1em;
    padding: 10px;
    background-color: #121212;
    border: 0.1px solid #222222;
    outline: none;
}

#pesqui:focus{
    border-color: #1C62B9;
}

.search-container{
    display: flex;
}

#search-btn{
    background-color: #222222;
    width: 64px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



#mic-btn{
    background-color: #222222;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#ytbLogo{
    width: 100px;
}

.user-pfp{
    background: url(Files/YouTube_2024_\(white_text\).svg.png) left top no-repeat;
    background-size: cover;

    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.video-box{
    height: 790px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}

.video-box div{
    height: 95%;
    background-color: #252525;
    border-radius: 10px;
}

.video-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-btn-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.left-btn-container{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#channel-info  h4{
    color: white;
    
}

#channel-info  p{
    color: #717171;
    font-size: 0.8em;
}

.channel-pfp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1C62B9;
}

.subscribe{
    margin-left: 15px;
    width: 109px;
    height: 36px;
    border-radius: 20px;
    border: none;
    font-size: 0.9em;
}


.like-btn-box{
    display: flex;
    gap: 0px;
    
}

.btn:not(.subscribe){
    height: 36px;
    background-color: #272727;
    border: none;

}

/* .btn-box:not(.subscribe-btn-box){
    background-color: #272727;
    border: none;
} */

.like{
    margin: 0;
    width: 97px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.like::after{
    content: "12 mil";
    color: white;
    margin-left: 10px;
}

.deslike{
    margin: 0;
    width: 52px;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.deslike::after{
  content: "";
  position: absolute;
  left: 0;             
  top: 50%;             
  transform: translateY(-50%); 
  height: 60%;            
  border-right: 1px solid #717171;
}