*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color1: #0F2567;
    --bg-color2: #4F1165;
    --header-color: #ffffff;
    --main-color1: #dbdbf5;
    --main-color2: #acbec4;
    --list-color: #eeeeee;
    --button-color: #6868d1;
    --inputText-Bg: #ffffff;
    --item-color: #000000;
    --excluir-color: #c539a7;

    
    
}

.darkMode{
    --bg-color1: #dbdbf5;
    --bg-color2: #acbec4;
    --header-color: #000000;
    --main-color1: #0F2567;
    --main-color2: #4F1165;
    --list-color: #000000;
    --button-color: #5f5fec;
    --inputText-Bg: #000000;
    --item-color: #ffffff;
    --excluir-color: #6100fd;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    height: 89vh;
    /* width: 100%; */
    background-image: linear-gradient(to bottom right, var(--bg-color1), var(--bg-color2) );
    text-align: center;
}

header{
    align-items: center;
}

header > h1{
    
    margin-top: 100px;
    margin-bottom: -60px;
    font-size: 4em;
    color: var(--header-color);
    font-family: cursive;

}

.main {
    background-image: linear-gradient(to bottom right,var(--main-color1), var(--main-color2));
    box-shadow: 5px 2px 2px #4F1165 ;
    height: 61vh;
    width: 55vh;
    margin: 135px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: end;
}

.list{
    background-color: var(--list-color);
    border: 1px solid black;
    width: 90%;
    height: 80%;
    margin-top: 40px;
    border-radius: 10px;
    overflow-y: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
   
    
    
}

.listitem {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.item{
    margin: 10px 0px;
    font-size: 2em;
    transition: 0.5s;
    cursor: pointer;
    color: var(--item-color);
}

.feito{
    text-decoration: line-through;
    color: grey;
}

.excluir{
    height: 2.5em;
    margin: 12px 10px;
    background-color: var(--excluir-color);
    border-radius: 10px;
    transition: 0.6s;
    
}
.excluir:hover{
    background-color: #791f65;
    
}

#btns { /*div principal*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#text{ /*Input text*/
    width: 86%;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 5px;
    background-color: var(--inputText-Bg);
    color: var(--item-color);
    border: 2px solid black
}

#color{
    display: none;
    background-color: var(--item-color);
    box-shadow: 1px 5px 20px  var(--item-color);
}

#button{ /*Button*/
    width: 60px;
    height: 50px;
    border-radius: 20px;
    font-size: 2em;
    margin-left: -40px;
    background-color: var(--button-color);
    transition: 0.6s;
}

#button:hover{
    background-color: rgb(74, 74, 209);
}

@media(max-width: 500px){

    body{
        background-image: none;
        
    }

    header{
        display: none;
    }

    header > h1{
        display: none;
    }

    .main{

        width: 45vh;
        height: 100vh;
        margin: 0;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
        
    }

    #btns{
        order: 3;

    }

    .list{
        margin: 0;
        width: 42vh;
        
        order: 2;
    }

    #text{
        width: 90vh;
        
    }

    #button{
        width: 10vh;
    }

    #color{
        display: block;
        order: 1;
        width: 5vh;
        height: 5vh;
        border-radius: 20px;
    }
}

